.go-back-btn {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid gray;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s ease-in-out;
}

.go-back-btn:hover {
  opacity: 0.8;
}

.icon-container {
  display: flex;
  align-items: center;
}

.spacer {
  width: 6px;
}

.label {
  font-weight: 600;
  color: black;
}
